{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
    <main role="main">
        <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Here we'll be talking about everything computer science. Basics, framesworkds, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>
            <p>Visit my Github <a href="https://github.com/leandro-matos" target="blank">leandro-matos</a> to check out more cool stuff beyond.</p>
            <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
        </div>
    </main>

{% endblock %}
